*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Overpass', sans-serif;
}
body{
    background-color: hsl(216, 12%, 8%);
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    /* margin: auto; */
    width: 25%;
    /* height: 50vh; */
    background: linear-gradient(to top, #171E28,#242A32 );
    border-radius: 30px;
    padding: 2.5em;
}
img{
    padding: 20px;
    background-color: #2d343c ;
    border-radius: 100%;
}
h1{
    color: white;
    margin: 0.5em 0;
}
p{
    color: hsl(217, 12%, 63%);
    font-size: 18;
}
ul{
    display: flex;
    justify-content: space-between;
    margin: 3vh 0;
}
ul li{
    padding: 15px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    color: hsl(217, 12%, 63%);
    background-color: #262E38 ;
}
ul li:hover{
    color: white;
    background-color: hsl(25, 97%, 53%) ;
}
input[type=button]{
    font-size: 15px;
    width: 100%;
    padding: 1.5vh 2%;
    color: white;
    border: 0;
    border-radius: 30px;
    background-color: hsl(25, 97%, 53%);
}
input[type=button]:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}
.preShine{
    color: white;
    background-color: #7C8797 ;
}
.shine{
    color: white;
    background-color: hsl(25, 97%, 53%);
}
.base{
    color: hsl(217, 12%, 63%);
    background-color: #262E38 ;
}
.main2{
    width: 25%;
    background: linear-gradient(to top, #171E28,#242A32 );
    border-radius: 30px;
    padding: 2.5em;
    text-align: center;
}
.thank{
    border-radius: 0;
    background-color: transparent;
}
.selc{
    color: hsl(25, 97%, 53%);
    background-color: #262c34;
    padding: 0.5em;
    width: 50%;
    margin: auto;
    border-radius: 20px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }